---
import { cn } from "../../utils/tailwind";

export interface InputWrapperProps {
  label: string;
  wrapperClass?: HTMLDivElement["className"];
  name: string;
}

const { props } = Astro;
---

<div class="w-full">
  <label class={cn("flex w-full flex-col gap-3 md:gap-4", props.wrapperClass)}>
    <span class="sm:text-clamp-lg">{props.label}</span>
    <slot />
  </label>
  <p
    class="text-sm sm:text-clamp-sm text-red-500 empty:my-0 mt-3"
    id={`${props.name}-error`}
    error-message
  >
  </p>
</div>
