---
import Layout from "../../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import OutlineText from "../../../components/OutlineText.astro";
import ProjectCard from "../../../components/ProjectCard.astro";
import { getLangFromUrl, generateTranslator } from "../../../i18n/utils";
import { languages } from "../../../i18n/ui";
const lang = getLangFromUrl(Astro.url) as keyof typeof languages;
const t = generateTranslator(lang);
const projects = await getCollection("projects", (project) =>
  project.slug.startsWith(lang),
);
---

<Layout title="projects">
  <OutlineText class="md:text-clamp-3xl">{t("projects.title")}</OutlineText>
  <ul
    class="my-9 flex flex-col items-center gap-24 px-8 md:my-[8vh] md:gap-[8vh]"
  >
    {
      projects.map((project) => {
        return (
          <li>
            <ProjectCard {...project.data} reverse />
          </li>
        );
      })
    }
  </ul>
</Layout>
