---
import Layout from "../../../layouts/Layout.astro";
import { getLangFromUrl, generateTranslator } from "../../../i18n/utils";
import { languages } from "../../../i18n/ui";
const lang = getLangFromUrl(Astro.url);
// const t = generateTranslator(lang);
---

<Layout title="projects">
  <div>Projects</div>
</Layout>
