---
import Layout from "../../../layouts/Layout.astro";
import OutlineText from "../../../components/OutlineText.astro";
import {
  getLangFromUrl,
  generateTranslator,
  getJourneys,
} from "../../../i18n/utils";

import { languages } from "../../../i18n/ui";
import MobileJourneyList from "../../../components/MobileJourneyList.astro";
import DesktopJourneyList from "../../../components/DesktopJourneyList.astro";

export function getStaticPaths() {
  return Object.keys(languages).map((lang) => {
    const obj = {
      params: {
        lang: lang,
      },
    };
    return obj;
  });
}

const lang = getLangFromUrl(Astro.url) as keyof typeof languages;
const t = generateTranslator(lang);
const journeys = await getJourneys(lang);
---

<Layout title="Journeys: Nika Qvrivishvili">
  <OutlineText>{t("journey.title")}</OutlineText>
  <main class="pt-[6vh]">
    <DesktopJourneyList journeys={journeys} />
    <MobileJourneyList journeys={journeys} />
  </main>
</Layout>
