---
import Layout from "../../../layouts/Layout.astro";
import OutlineText from "../../../components/OutlineText.astro";
import { getLangFromUrl, generateTranslator } from "../../../i18n/utils";

import { languages } from "../../../i18n/ui";
import Button from "../../../components/Button.astro";
const lang = getLangFromUrl(Astro.url) as keyof typeof languages;
const t = generateTranslator(lang);
---

<Layout title="projects">
  <OutlineText class="md:text-clamp-3xl">{t("journey.title")}</OutlineText>
  <a href="/contact-me">
    <Button>{t("journey.contact_button")}</Button>
  </a>
</Layout>
