---
import Layout from "../../../layouts/Layout.astro";
import OutlineText from "../../../components/OutlineText.astro";
import {
  getLangFromUrl,
  generateTranslator,
  getJourneys,
} from "../../../i18n/utils";

import { languages } from "../../../i18n/ui";
import MobileJourneyList from "../../../components/MobileJourneyList.astro";
import DesktopJourneyList from "../../../components/DesktopJourneyList.astro";

const lang = getLangFromUrl(Astro.url) as keyof typeof languages;
const t = generateTranslator(lang);
const journeys = await getJourneys(lang);
---

<Layout title="journeys">
  <OutlineText class="md:text-clamp-3xl">{t("journey.title")}</OutlineText>
  <main class="py-[6vh]">
    <div class="hidden md:block">
      <DesktopJourneyList journeys={journeys} />
    </div>
    <MobileJourneyList journeys={journeys} />
  </main>
</Layout>
