---
import { cn } from "../../utils/tailwind";
import { getLangFromUrl, generateTranslator } from "../../i18n/utils";
import type { TranslationKey } from "../../i18n/ui";
import { navigationLinks } from "./ResponsiveNavigation.astro";
import Link from '../Link.astro'

const path = Astro.url.pathname;

const lang = getLangFromUrl(Astro.url);
const t = generateTranslator(lang!);
---

<nav class="hidden md:block">
  <ul
    class="flex items-center gap-4 whitespace-nowrap text-slate-400 md:text-clamp-lg lg:gap-8"
  >
    {
      navigationLinks.map((link) => {
        const navTranslationKey = ("navigation." + link.name) as TranslationKey;
        return (
          <li>
            <Link
              href={link.href}
              class={cn({ "text-slate-300": path === `/${lang}${link.href}` })}
            >
              {t(navTranslationKey)}
            </a>
          </li>
        );
      })
    }
  </ul>
</nav>
