---
import { cn } from "../../utils/tailwind";
export const navigationLinks = [
  { name: "home", icon: "Home", href: "/" },
  { name: "projects", icon: "Folder", href: "/projects" },
  { name: "journey", icon: "Milestone", href: "/journey" },
  { name: "contact", icon: "Mail", href: "/contact-me" },
];

const path = Astro.url.pathname;
---

<nav class="hidden md:block">
  <ul
    class="flex items-center gap-4 whitespace-nowrap text-slate-400 md:text-clamp-lg lg:gap-8"
  >
    {
      navigationLinks.map((link) => (
        <li>
          <a
            href={link.href}
            class={cn({"text-slate-300" : path === link.href})}
          >
            {link.name}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
