---
import { cn } from "../utils/tailwind";

export type Journey = {
  title: string;
  content: string;
  date: string;
};

interface Props {
  reverse: boolean;
  journey: Journey;
}

const { props } = Astro;
---

<section
  class={cn(
    "my-auto flex h-fit w-full flex-col break-words hyphens-auto rounded-xl bg-gradient-to-r px-6 py-5 backdrop-blur-md from-neutral-900/30 to-gray-600/20",
    { "bg-gradient-to-r": !props.reverse },
    { "bg-gradient-to-l": props.reverse },
  )}
>
  <div class="mb-4 flex items-center flex-wrap justify-between gap-2">
    <h2 class="text-lg sm:text-clamp-lg break-words hyphens-auto text-slate-200">
      {props.journey.title}
    </h2>
    <span class="text-sm sm:text-clamp-sm text-slate-400">{props.journey.date}</span>
  </div>
  <p class="text-base sm:text-clamp-base text-slate-300">{props.journey.content}</p>
</section>
