---
import type { languages } from "../i18n/ui";
import { generateTranslator, getLangFromUrl } from "../i18n/utils";
import Button from "./Button.astro";
import JourneyCard, { type Journey } from "./JourneyCard.astro";
import Link from "./Link.astro";
interface Props {
  journeys: Journey[];
}

const lang = getLangFromUrl(Astro.url) as keyof typeof languages;
const t = generateTranslator(lang);

const { props } = Astro;
---

<ul class="mb-14 mt-[4vh] flex w-[100%] flex-col items-center gap-6">
  {
    props.journeys.map((journey, i) => (
      <li>
        <JourneyCard journey={journey} reverse={i % 2 !== 0} />
      </li>
    ))
  }
  <Link href="/contact-me">
    <Button>{t("journey.contact_button")}</Button>
  </Link>
</ul>
