---
import { cn } from "../utils/tailwind";
interface Props {
  class?: string;
}

const { props } = Astro;

const baseClassName: string =
  "bg-gradient-to-br w-full break-words hyphens-auto from-blue-200  [-webkit-text-stroke:2px_transparent] md:[-webkit-text-stroke:4px_transparent]  to-slate-600 bg-clip-text text-center text-3xl font-extrabold tracking-widest text-black sm:whitespace-nowrap sm:text-clamp-4xl";
---

<div class="relative w-full select-none">
  <p class={cn(baseClassName, props.class)}>
    <slot />
  </p>
  <p
    class={cn(
      baseClassName,
      "absolute left-0 top-[6px] md:top-[12%] z-[-1] opacity-60",
      props.class,
    )}
  >
    <slot />
  </p>
</div>
