---
import { Image } from "astro:assets";
import { cn } from "../utils/tailwind";
import Icon from "./Icon.astro";
import GithubImg from "../assets/images/github.webp";
import TwitterImg from "../assets/images/twitter.webp";
import LinkedinImg from "../assets/images/linkedin.webp";

interface Props {
  class?: string;
}

const { props } = Astro;

const linkObjs = [
  { vectorName: "Newspaper", imgType: "vector", url: "#" },
  {
    imageSrc: GithubImg,
    imgType: "image",
    url: "https://github.com/etherbits",
  },
  {
    imageSrc: TwitterImg,
    imgType: "image",
    url: "https://twitter.com/etherbito",
  },
  {
    imageSrc: LinkedinImg,
    imgType: "image",
    url: "https://www.linkedin.com/in/nika-qvrivishvili-126664203",
  },
];
---

<ul class={cn("flex w-fit gap-6 sm:gap-8", props.class)}>
  {
    linkObjs.map((link) => (
      <li>
        <a
          href={link.url}
          class={cn(
            "flex items-center justify-center overflow-hidden rounded-lg border border-slate-600 bg-neutral-950 hover:border-slate-300 w-10 h-10 sm:w-12 sm:h-12",
          )}
          target="_blank"
          aria-label="Resume/CV"
        >
          {link.imgType === "vector" ? (
            <Icon
              icon="Newspaper"
              class="w-1/2 h-1/2 stroke-[1.5px] stroke-slate-500"
            />
          ) : (
            <Image
              src={link.imageSrc!}
              width={64}
              height={64}
              class="w-full h-full"
              alt="resume"
            />
          )}
        </a>
      </li>
    ))
  }
</ul>
