---
import Button from "../../components/Button.astro";
import Layout from "../../layouts/Layout.astro";
import OutlineText from "../../components/OutlineText.astro";
import RectLinks from "../../components/RectLinks.astro";
import Waves from "../../components/Waves.astro";
import { getLangFromUrl, generateTranslator } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = generateTranslator(lang);
---

<Layout title="Welcome to Astro.">
  <div
    class="flex h-full w-full flex-grow flex-col items-center justify-between p-6 sm:px-8 sm:pb-16"
  >
    <main
      class="flex max-w-full flex-col items-center justify-center text-center mb-auto sm:mt-[3vh] md:mt-[7vh]"
    >
      <img
        src="https://github.com/etherbits.png?size=200"
        width={200}
        height={200}
        alt="profile"
        class="mb-8 h-20 w-20 sm:h-28 sm:w-28 md:h-40 md:w-40 rounded-full"
      />
      <p class="mb-4 text-[26px] text-slate-200 sm:text-clamp-3xl">
        {t("home.greet_start")}
        <span class="text-blue-200">{t("home.greet_name")}</span>
        {t("home.greet_end")}
      </p>
      <OutlineText dropCount={1}>{t("home.profession")}</OutlineText>
      <p
        class="mb-16 mt-8 max-w-[320px] text-sm leading-9 text-slate-300
        sm:max-w-clamp-xs sm:text-clamp-xl sm:leading-clamp-xl"
      >
        {t("home.skill_paragraph")}
      </p>
      <i data-lucide="volume-2"></i>
      <a href="/projects" class="mb-11">
        <Button>{t("home.nav_button")}</Button>
      </a>
    </main>
    <RectLinks size={48} />
    <Waves
      type="homeRight"
      class="bottom-0 right-0 h-[70%] w-[72%] translate-x-[35%] translate-y-[12%]"
    />
    <Waves
      type="homeLeft"
      class="bottom-0 left-0 h-[30%] w-[60%] translate-x-[-46%] translate-y-[36%] md:h-[70%] 2xl:h-[96%]"
    />
  </div>
</Layout>
