---
import Button from "../../components/Button.astro";
import Layout from "../../layouts/Layout.astro";
import OutlineText from "../../components/OutlineText.astro";
import RectLinks from "../../components/RectLinks.astro";
import Waves from "../../components/Waves.astro";
import { getLangFromUrl, generateTranslator } from "../../i18n/utils";
import Link from "../../components/Link.astro";

const lang = getLangFromUrl(Astro.url);
const t = generateTranslator(lang!);
---

<Layout title="Portfolio: Nika Qvrivishvili">
  <main
    class="flex max-w-full flex-col items-center justify-center text-center mb-auto sm:mt-[3vh] md:mt-[7vh]"
  >
    <img
      src="https://github.com/etherbits.png?size=200"
      width={200}
      height={200}
      alt="profile"
      class="mb-8 h-24 w-24 sm:h-28 sm:w-28 md:h-32 md:w-32 lg:h-40 lg:w-40 rounded-full"
    />
    <p class="mb-4 text-2xl text-slate-200 sm:text-clamp-3xl">
      {t("home.greet_start")}
      <span class="text-blue-200">{t("home.greet_name")}</span>
      {t("home.greet_end")}
    </p>
    <OutlineText>{t("home.profession")}</OutlineText>
    <p
      class="mb-12 mt-6 max-w-[320px] text-lg break-none hyphens-auto leading-9 text-slate-300
        sm:max-w-clamp-xs sm:text-clamp-lg"
    >
      {t("home.skill_paragraph")}
    </p>
    <Link href="/projects" class="mb-11">
      <Button >{t("home.nav_button")}</Button>
    </Link>
  </main>
  <RectLinks  />
  <Waves
    type="homeRight"
    class="bottom-0 right-0 h-[37%] md:h-[70%] w-[72%] translate-x-[35%] translate-y-[12%] 2xl:h-[86%]"
  />
  <Waves
    type="homeLeft"
    class="bottom-0 left-0 h-[20%] md:h-[43%] w-[49%] translate-x-[-27%] translate-y-[24%] 2xl:h-[52%]"
  />
</Layout>
