---
import Header from "../components/header/Header.astro";
import { getLangFromUrl } from "../i18n/utils";

interface Props {
  title: string;
}

const lang = getLangFromUrl(Astro.url);

const { title } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="flex flex-col bg-black overflow-x-hidden text-slate-300 font-sans tracking-normal md:tracking-wider sm:min-h-screen"
  >
    <Header />
    <div class="flex flex-col p-8 items-center">
      <slot />
    </div>
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-VariableFont_wght.ttf")
      format("truetype-variations");
    font-weight: 100 1000;
    unicode-range: U+0020-007F;
  }

  @font-face {
    font-family: "NotoSansGeorgian";
    src: url("/fonts/NotoSansGeorgian-VariableFont_wdth,wght.ttf")
      format("truetype-variations");
    font-weight: 100 1000;
    unicode-range: U+10A0-10FF;
  }
</style>
